version: '3.8'
services:
  # backend:
  #   build: ./backend
  #   ports:
  #     - '3000:3000'
  #   # ...outras configs

  # frontend:
  #   build: ./frontend
  #   ports:
  #     - '8080:80'
  #   # ...outras configs


  db:
    image: postgres:16.8-alpine3.20
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_DB: mydb
    ports:
      - 5432:5432

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - '9090:9090'

  grafana:
    image: grafana/grafana
    ports:
      - '3001:3000' 